<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="5">

	<Properties>
		<Property name="LOG_HOME" value="d:/development/tmpForLog"/>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
		</Console>
		<File name="File" filename="${LOG_HOME}/roboworld.txt" immediateFlush="true" append="false">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</File>
	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console"/>
		</Root>
		<Logger name="by.roboworld" level="TRACE" additivity="false">
			<AppenderRef ref="File"/>
		</Logger>
	</Loggers>

</Configuration>